<div class="HeadersWhite">
    Restaurant Hours<br /><br />

    Monday: 11am-10pm<br />
    Tuesday-Thursday: 11am-12am<br />
    Friday: 11am-3am<br />
    Saturday: 9am-3am<br />
    Sunday: 9am-10pm<br />
</div>
